<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 about">
            <h2>About Tandem</h2>
            <p>Tandem works with changemakers of all kinds including human rights defenders,
                activists and organizers, journalists and educators, using digital strategies
                and tools to build more equitable futures.<br> Our approaches are collaborative
                and practical. We believe that everyone’s experience is valuable and that the
                most equitable and sustainable solutions emerge from building knowledge and
                skill together.<br> Our work is informed by our personal, political, and
                professional roots which cross borders and celebrate difference.</p>
        </div>
    </div>
</section>
