<section id="team" class="content-section text-center">
    <div class="team-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Team</h2>
                      <div class="col-lg-6 bio">
                        <h4>Bex Hurwitz</h4>
                        <p>Bex Hong Hurwitz is co-founder of Tandem and an enthusiastic
                        breaker and maker of technology for social justice. Bex believes
                        in the transformative power of people coming together to affect change.
                        They see holistic security as one of many super powers social justice
                        movements have to care for each other, be more sustainable and stand
                        stronger against injustice. Bex is part of queer and Korean-American
                        movements in the U.S. and they find inspiration and wisdom in working
                        alongside others with the deep understanding that our liberation is linked.</p>
                      </div>
                      <div class="col-lg-6 bio">
                        <h4>Sarah Aoun</h4>
                        <p> Sarah Aoun is a data activist with a focus on tech and
                        human rights. Her work and interests lie at the intersection
                        of data visualization, privacy & security, code, and feminism.
                        She is a programmer, a current fellow with the Internet Freedom
                        Festival, and a trainer in data-driven storytelling, ethical data,
                         and data privacy. Sarah holds a B.A. from Brown University.
                         You can find her somewhere between Beirut and
                         Brooklyn.</p>
                  </div>
                <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
            </div>
        </div>
    </div>
</section>
