<section id="team" class="content-section text-center">
    <div class="team-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Team</h2>
                      <div class="col-lg-6 bio">
                        <h4>Bex Hurwitz</h4>
                        <p>Bex Hurwitz is a co-founder of Research Action Design,
                        a worker owned cooperative that uses community-led research,
                        collaborative design of technology and media, and secure digital strategies
                        to build the power of grassroots social movements. Prior to RAD, Bex was the
                        Codesign Facilitator and Community Organizer with the MIT Center for Civic Media
                        (2012-2014). Bex holds a B.S. in Comparative Media Studies from MIT and an M.S.
                        in Information Management and Systems from the UC Berkeley iSchool.</p>
                      </div>
                      <div class="col-lg-6 bio">
                        <h4>Sarah Aoun</h4>
                        <p> Sarah Aoun is a data activist with a focus on tech and
                        human rights. Her work and interests lie at the intersection
                        of data visualization, privacy & security, code, and feminism.
                        She is a programmer, a current fellow with the Internet Freedom
                        Festival, and a trainer in data-driven storytelling, ethical data,
                         and data privacy. Sarah holds a B.A. from Brown University.
                         You can find her somewhere between Beirut and
                         Brooklyn.</p>
                  </div>
                <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
            </div>
        </div>
    </div>
</section>
