<section id="team" class="content-section text-center">
    <div class="team-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Team</h2>
                      <div class="col-lg-6 bio">
                        <h4>Bex Hurwitz</h4>
                        <p>Bex Hong Hurwitz is co-founder of Tandem and an enthusiastic
                        breaker and maker of technology for social justice. Bex believes
                        in the transformative power of people coming together to affect change.
                        They see holistic security as one of many super powers social justice
                        movements have to care for each other, be more sustainable and stand
                        stronger against injustice. Bex is part of queer and Korean-American
                        movements in the U.S. and they find inspiration and wisdom in working
                        alongside others with the deep understanding that our liberation is linked.</p>
                      </div>
                      <div class="col-lg-6 bio">
                        <h4>Sarah Aoun</h4>
                        <p> Sarah is a data activist, operational security trainer,
                        and Ford-Mozilla Open Web Fellow. Her interests lie at the
                        intersection of tech, human rights, and transformative justice.
                        She’s worked with activists, journalists, grassroots social movements,
                        and NGOs in the US and MENA region on security, ethical data & privacy,
                        and data-driven storytelling.</p>
                  </div>
                <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
            </div>
        </div>
    </div>
</section>
