<section id="team" class="content-section text-center">
    <div class="team-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Team</h2>
                      <div class="col-lg-6 bio">
                        <h4>Maryam Al-Khawaja</h4>
                        <p>Maryam Al-Khawaja is a Bahraini Human Rights Defender,
                        and currently the Co-Director for the Gulf Center for
                        Human Rights (GCHR). Al-Khawaja played an instrumental
                        role in the democratic protests in Bahrain and has
                        emerged as a leading voice for human rights and political
                        reform in Bahrain and the Gulf region. She has received
                        numerous awards for their human rights work, including
                        the Rafto Prize. </p>
                      </div>
                      <div class="col-lg-6 bio">
                        <h4>Sarah Aoun</h4>
                        <p> Sarah Aoun is a data activist with a focus on tech and
                        human rights. Her work and interests lie at the intersection
                        of data visualization, privacy & security, code, and feminism.
                        She is a programmer, a current fellow with the Internet Freedom
                        Festival, and a trainer in data-driven storytelling, ethical data,
                         and data privacy. You can find her somewhere between Beirut and
                         Brooklyn.</p>
                  </div>
                <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
            </div>
        </div>
    </div>
</section>
